[Unit]
Description=Solis Solar PV data logger
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=exec
User=pi
WorkingDirectory=/home/pi/pysolis
ExecStart=/home/pi/pysolis/solis_capture eth0 10.42.0.174 /home/pi/pysolis/log /home/pi/pysolis/log/capture.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target